@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2FDEB;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #23351A;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: black;
    transition: all 1s ease;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2FDEB;
    padding: 1rem 5rem;
    height: 9vh;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    cursor: default;
    text-decoration: none;
    transition: all 0.1s ease;
    color: black;
}

.logo:hover {
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: black;
    height: 2px;
    margin: 3px;
    width: 25px;
    display: block;
}

.menu {
    display: flex;
}

nav a {
    color: black;
}

.nav-links {
    display: flex;
    gap: 1.4rem;
    list-style: none;
    font-size: 1.2rem;
}

/* When screen is small, hide the nav-links unless active */
@media (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #2d8000;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
}

/* Section Styling */
section {
    padding: 0 10rem;
    box-sizing: border-box;
}

.section-container {
    display: flex;
    gap: 4rem;
}

.section__text__p1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.section__text__p2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

#profile .title,
#profile .section__text__p2 {
    margin: 0;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    transition: all 0.3s ease;
}

.section__pic-container:hover {
    transform: scale(1.05);
}

.article-container img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.section__text {
    align-self: center;
    text-align: center;
    padding: 0 2rem;
}

.who_am_i {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 1.5rem;
    margin: 0.75rem 0;
}

.section__text__p1,
.section__text__p2 {
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

/* Socials and Buttons */
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

#socials-container a:hover {
    transform: scale(1.25);
    transition: all 0.5s ease-in-out;
}

.icon {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn,
#myBtn {
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
}

.btn-color-1 {
    background: #2d8000;
    color: white;
    border: 0.17rem solid #2d8000;
}

.btn-color-1:hover {
    background: none;
    color: black;
    cursor: pointer;
}

.CV {
    margin-top: 1rem;
}

/* Section Heights and Margins */
#profile,
#about,
#experience,
#projects,
#hobbies,
#books,
#contact {
    min-height: 80vh;
    margin-bottom: 15vh;
}

#projects {
    min-height: auto;
}

/* About Section */
.about-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 2rem;
}

#about .about-containers {
    gap: 1rem;
}

.about-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.55rem;
}

.about-pic {
    border-radius: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: 0.3rem solid #2d8000;
    text-align: center;
}

/* Experience & Projects Section (Grid Layout) */
.experience-details-container {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.experience-sub-title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

article {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

article h3 {
    font-size: 1.2rem;
    margin: 0;
}

/* Project Section */
.project-img {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 200px;
}

.project-title {
    margin: 1.5rem 0;
    color: black;
    font-size: 1.5rem;
}

.project-btn {
    margin-top: 2rem;
    color: white;
    border-color: #2d8000;
}

/* Hobbies Section */
#hobbies .about-containers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Books Section */
#books .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

#books .section__text__p2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#books .book-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#books .btn {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
}

#books .section__text__p1 {
    flex: 2;
    margin: 10px;
}

#books blockquote {
    font-size: 1.1rem;
    font-style: italic;
    border-left: 5px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #2d8000;
    align-items: center;
    padding: 1rem 10%;
}

.footerText p {
    color: white;
    font-size: 1.1rem;
}

#myBtn {
    color: #2d8000;
    font-weight: 600;
    border: 0.17rem solid #2d8000;
}

#myBtn:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
    background: none;
    color: black;
}

/* Sticky Navigation */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.glue a {
    color: white;
}

.glue .hamburger span {
    background-color: white !important;
}

.sticky a:hover {
    color: black;
    text-decoration-color: black;
    transition: all 0.3s ease;
}

#webDesign, #izvidnik, #marathon, #eestec {
    font-weight: 700;
}

#eestec {
    color: red;
}

#webDesign {
    color: blue;
}

#webDesign:hover, #marathon:hover, #izvidnik:hover, #eestec:hover {
    color: #2d8000;
    text-decoration: none;
    transition: all 0.3s ease;
}

#izvidnik {
    color: teal;
}

#marathon {
    color: purple;
}

#contact {
    min-height: 70vh;
}

#contact .contact-info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact .input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

#contact .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
}

#contact .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

/* Responsiveness */
@media (max-width:1400px) {
    #about .about-containers {
        display: flex;
        flex-direction: column;
    }
    #about .section-containe {
        gap: 0;
    }
    #books .btn {
        margin: 0;
    }
    #books .details-container {
        height: min-content;
    }
}

@media (max-width: 1200px) {
    section {
        padding: 4rem;
    }
    #profile {
        gap: 2rem;
    }
    img {
        transition: all 0.5s ease;
        transform: scale(0.8);
    }
    #profile .section__text {
        transform: scale(0.9);
    }
    #projects .experience-details-container,
    #projects .about-containers {
        gap: 0.5rem;
    }
}

@media (max-width: 1000px) {
    section {
        padding: 2rem;
    }
    .section-container {
        flex-direction: column;
        gap: 2rem;
    }
    .section__pic-container {
        height: 500px;
    }
    .section__pic-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details-container {
        padding: 0 3rem;
    }
    .section__pic-container img {
        height: 100%;
    }
    .title {
        font-size: 2.5rem;
        margin: 0.5rem 0;
    }
    nav {
        padding: 1rem 2rem;
    }
    .nav-links a {
        font-size: 1rem;
    }
    .nav-links {
        gap: 1rem;
    }
    #hobbies .about-containers,
    #projects .about-containers {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .project-img {
        height: unset;
    }
    .article-container img:hover {
        transform: scale(0.7);
    }
    #projects .experience-details-container,
    #hobbies .about-containers {
        padding: 0 4rem;
    }
    #books blockquote {
        font-size: 1rem;
    }
    #profile {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #2d8000;
        top: 100px;
        right: 10px;
        width: auto;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        z-index: 1000;
        font-size: 10px;
    }
    .nav-links li {
        margin: 5px 0;
        text-align: center;
    }
    .nav-links a {
        font-size: 0.9rem;
        color: white;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: flex;
    }
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .section__pic-container {
        height: 400px;
    }
    .about-containers {
        flex-direction: column;
        gap: 1rem;
    }
    #profile,
    #about,
    #experience,
    #projects,
    #hobbies,
    #books,
    #contact {
        margin-bottom: 10vh;
    }
    #experience .about-containers {
        display: flex;
        flex-direction: column;
    }
    #experience .article-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #books {
        padding: 0 4rem;
    }
    #books .about-containers {
        display: flex;
        flex-direction: column;
    }
    .section__text {
        padding: 0 1rem;
    }
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }
    .section__pic-container {
        height: 350px;
    }
    #projects .experience-details-container,
    #hobbies .about-containers {
        padding: 0 2rem;
    }
    .about-details-container,
    #books {
        padding: 0 1rem;
    }
    #books .about-containers {
        padding: 0 2rem;
    }
    footer {
        padding: 1rem 5%;
    }
}

@media (max-width: 500px) {
    section {
        padding: 0 1rem;
    }
    .details-container {
        padding: 0.1rem;
    }
    .section__pic-container {
        height: 300px;
    }
    #myBtn {
        padding: 0.5rem 1rem;
    }
    .footerText p {
        font-size: 0.9rem;
    }
    #projects .experience-details-container,
    #hobbies .about-containers,
    .experience-details-container,
    .who_am_i,
    .about-details-container,
    #profile .section__text,
    #books .about-containers {
        padding: 0;
    }
}
