@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2FDEB;
}

html{
    scroll-behavior: smooth;
}

p{
    color: #23351A;
}

a{
    text-decoration-color: white;
    text-decoration: none;
    color: #000;

}
a:hover, a:hover{
    color: #3dca00;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: #3dca00;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.logo{
    font-weight: 600;
    font-size: 1.5rem;
}

.logo:hover{
    cursor: default;
    text-decoration: none;
    transition: all 0.1s ease;
}
a,.btn{
    transition: all 0.3s ease;
}

nav a{
    color: black;
    font-size: 1.2rem;
}

nav, .nav-links{
    display:flex;
}

.nav-links{
    gap: 1.4rem;
    list-style: none;
    font-size: 1.2rem;
}

#desktop-nav > a{
    padding: 2rem 1rem;
}

section{
    padding: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#profile .title, #profile .section__text__p2{
    margin: 0;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    transition: all 0.3s ease;
}

.section__pic-container:hover{
   transform: scale(1.05);
   transition: all 0.3s ease; 
}

.article-container img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.section__text{
    align-self: center;
    text-align: center;
    padding: 0 2rem;
}

.who_am_i{
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 1.5rem;
    margin: 0.3rem 0;
}

.section__text p{
    font-size: 1.5rem;
}

.section__text__p1{
    text-align: center;
}

.section__text__p2{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.6rem;
}

.text-container p{
    font-size: 1rem;
    text-align: left;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

#socials-container a:hover{
    transform: scale(1.25);
    transition: all 0.5s ease-in-out;

}

.icon{
    height: 2rem;
    width: min-content;
}
#socials-container .icon{
    cursor: pointer;

}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn, #myBtn{
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem;
    border-radius: 2rem;
}
.btn{
    width: 9rem;
}
.btn-color-1:hover{
    cursor: pointer;
}

.btn-color-1:hover{
    background: none;
    color: black;
}

.btn-color-1{
    background:#3dca00;
    color: white;
    border: #3dca00 0.17rem solid;
}

.btn-container{
    gap: 1rem;
}

#profile,#about, #experience, #projects, #books, #contact{
    height: 75vh;
    margin-bottom: 12vh;
}
#projects{
    height: 150vh;
}

.about-containers{
    padding: 0 1rem;
}


#hobbies{
   height: 85vh;
}

.about-containers{
    gap: 1.1rem;
    margin: 0.55rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;;
}
.details-container{
    padding: 2rem;
    flex:1;
    background: white;
    border-radius: 2rem;
    border: #3dca00 0.3rem solid;
    text-align: center;
}

#about .details-container{
    padding: 1.5rem;
}

#projects .details-container{
    display: flex;
    padding: 2rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: #3dca00 0.3rem solid;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

#hobbies .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: #3dca00 0.3rem solid;
    text-align: center;
    justify-content: flex-start;
}



.section-container{
    gap:4rem;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.experience-sub-title{
    color: #000;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: space-between;
}

article{
    display: flex;
    width: 25%;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}


.color-container{
    border-color: #3dca00;
    background-color: rgb(250,250,250);
}

.project-img{
    border-radius: 1rem;
    width: 100%;
}

.project-title{
    margin: 1.5rem 0;
    color: black;
}

.project-btn{
    margin-top:2rem;
    color: white;
    border-color: #3dca00;
}

.volunteering{
    justify-content: space-evenly;
}

.volunteering article{
    width: 65%;
}

.book-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

#books .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#books .details-container img{
    width: 250px;
}

#books .details-container .btn{
    margin-top: 1rem;
}

#books .about-containers >div{
    width: 45%;
}

#books .section__text__p1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;
    justify-content: space-around;
}

#books .section__text__p1 blockquote p{
    text-align: justify;
    font-size: 1.15rem;
    margin: 1em 0;
}

.book-img:hover{
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

#contact{
    height: 70vh;
}

#contact > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20rem;
}


.contact-info-container{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

input,textarea {
    width: 44.5%;
    border: 2px solid #ccc;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: black 0.15rem solid;
    transition: width 0.6s ease-in-out;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

textarea{
    width: 90%;
}

input:focus,textarea:focus{
    width: 100%;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color: #3dca00;
    align-items: center;
    padding: 1rem 10%;
}

.footerText p{
    color: white;
    font-size: 1.1rem;
}



#myBtn {
    display: flex;
    flex-direction: row-reverse;
    position: relative; 
    float: right;
    z-index: 99;
    outline: none;
    background-color: white;
    border: white 0.17rem solid;
    color: #3dca00;
    cursor: pointer;
    font-size: 15px;
    margin: 0;
}

  #myBtn:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
}


#eestec{
    color: #e52a30 !important;
    font-weight: 600;

}

#marathon{
    color: #001f75 !important;
    font-weight: 600;
}

#marathon:hover{
    color: #3dca00 !important;
    text-decoration: none;
    transition: all 0.1s ease;
}

#webDesign{
    color: #3dca00 !important;
}

#webDesign:hover{
    color: #3dca00 !important;
    text-decoration: none;
    transition: all 0.1s ease;
}


#eestec:hover{
    color: #3dca00 !important;
    transition: all 0.1s ease;
}

#izvidnik{
    color: #3dca00 !important;
    font-weight: 600;
}


#izvidnik:hover{
    transition: all 0.1s ease;
    color: #3dca00 !important;
}

.submit{
    font-family: 'Poppins', sans-serif;
    width: 14rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    background:#3dca00;
    color: white;
    border: #3dca00 0.17rem solid;
    margin-top: 1.2rem;
}

.submit:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
